@page
@model WeatherRecordWebsite.Pages.UserManagement.IndexModel
@{
    ViewData["Title"] = "User";
}

<h1>User</h1>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Type</th>
    </thead>
    <tbody>
        @foreach(var item in Model.Users)
        {
            <tr>
                <td>@Html.DisplayFor(modelitem => item.Id)</td>
                <td>@Html.DisplayFor(modelitem => item.Name)</td>
                <td>@item.Id == 1 ? "Admin" : "Consumer"</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>