@page
@model WeatherRecordWebsite.Pages.View.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h4>@Model.City.Name</h4>
<div style="position: relative; top: -30px;left: 90%;">
    <a asp-page="../Index">Back</a>
</div>
<hr/>
<table class="table">
    <thead>
       <tr>
            <th>@Html.DisplayNameFor(modelItem => Model.RecordViews[0].Date)</th>
            <th>@Html.DisplayNameFor(modelItem => Model.RecordViews[0].Temperature.HighCelsius)</th>
            <th>@Html.DisplayNameFor(modelItem => Model.RecordViews[0].Temperature.LowCelsius)</th>
            <th>@Html.DisplayNameFor(modelItem => Model.RecordViews[0].WindSpeed.Speed)</th>
            <th>@Html.DisplayNameFor(modelItem => Model.RecordViews[0].Weather.Conditions)</th>
        </tr>
    </thead>
   <tbody>
        @foreach (var item in Model.RecordViews)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Date)</td>
                <td>@Html.DisplayFor(modelItem => item.Temperature.HighCelsius)</td>
                <td>@Html.DisplayFor(modelItem => item.Temperature.LowCelsius)</td>
                <td>@Html.DisplayFor(modelItem => item.WindSpeed.Speed)</td>
                <td>@Html.DisplayFor(modelItem => item.Weather.Conditions)</td>
            </tr>
        }
    </tbody>
</table>